.TodoItem {
    font-family: 'Helvetica Neue',
    Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    padding-left: 5px;
    border-bottom: 1px solid #EEE;
    display: flex;
}

.TodoItem:last-child {
    border-bottom: none;
}

.TodoItem > p {
    margin: 0 0 0 10px;
    padding: 10px 5px;
}

.TodoItem_complete > p{
    text-decoration: line-through;
    opacity: .3;
}